
body {
  background-color: #f786b3;
  color: #000000;
  text-align: center;
}

h1 {
  color: #000000;
  font-family: lucida Handwriting;
}

.react-calendar {
  max-width: 400px; 
  margin: auto;
  background-color: #000000; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.react-calendar__tile {
  font-weight: bold;
  color: #ff69b4;
  background-color: #ffffff; 
}

.react-calendar__tile--now {
  background-color: #ff69b4;
}

.react-calendar__navigation {
  background-color: #ff69b4; 
  color: #000000;
  border-radius: 5px;
}

.react-calendar__navigation button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: 1em;
}
button {
  padding: 10px;
  margin: 5px;
  background-color: #ff69b4; 
  color: #000000; 
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

button:hover {
  background-color: #d1478e; 
  cursor: pointer;
}

h3{
  padding: 10px;
  background-color: #ff69b4; 
  color: #000000; 
  border: none;
  border-radius: 500px;
  font-size: 1em;
}
